*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}



.navlat{
    
    display: flex;
    justify-content: left;
    margin-left: 20px;
    
  
    
}

body{
    background-color:rgba(17, 49, 85, 0.8);
}


a{
    color: black;
    text-decoration: none;

}



.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-content: center;

    
    
}


.caja{
    display: flex;
    flex-direction: row;
   
    
}


.imagenes{
    display: flex;
    width: 400px;
    height: 300px;
}



.fotos{
    display: flex;
    
 
  
}

.fotos2{
    display: flex;
}

.fotos3{
    display: flex;
}

.fotos4{
    display: flex;
}


.autos10{
    margin-right: 10px;
    
    margin-bottom: 20px;

}



header{
    display: flex;
    
}



.navsup{
    
    margin-top: 200px;
    margin-left: -339px;
  
    
    
    
}







    

@media (max-width: 450px ) {
    .fotos {
        flex-direction: column;
    }
    .fotos2{
        flex-direction: column;
    }
}